table {
  border: 2% solid black;
}

h1 {
  text-align: center;
  padding: 15px;
}

button {
  display: flex;
}

#form {
  margin: 40px;
  background-color: rgb(208, 178, 236);
  border: solid black;
}

.form-control {
  margin-top: 10px;
}

h2 {
  text-align: center;
}

.sub {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: black;
  position: relative;
  left: 580px;

}